@use '../utils/utils' as *;
@use './reset' as *;

body {
  background-color: $BgMain;
}
.main_content {
  padding-top: 7dvh;
  padding-left: 15%;
}
section {
  width: 90%;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid $mainTextColor;
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  @include font-title(3.5rem, 800);
  text-align: center;
  padding: 3rem;
}
h2 {
  @include font-title(1.6rem, 600);
  padding: 1.2rem;
  text-align: center;
}
p {
  @include font-text();
}
